.container-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 40px auto 20px auto;
}
h4 {
  color: rgb(31, 28, 28);
  font-size: 1.5rem;
  text-align: center;
}
h1 {
  text-align: center;
}

h1::after {
  content: "";
  height: 4px;
  width: 30px;
  margin: 10px auto;
  background-color: rgb(34, 31, 31);
  display: block;
}

p {
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
  max-width: 700px;
  margin: 0 auto 10px auto;
}

.link-details {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(135, 44, 221);
  color: #fff;
  padding: 1.4rem;
  border-radius: 0.4rem;
  margin: 10px auto;
}
.link-details:hover {
  background-color: rgb(164, 91, 233);
  cursor: pointer;
}
