.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 2%;
}
.background {
  background-color: rgb(135, 44, 221);
  position: relative;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  @media (max-width: 765px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 0px;
  }
}

.navbar p {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.link {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

.link:hover {
  color: rgb(135, 44, 221);
  font-size: 1.3rem;
}

.navbar p:hover {
  border-radius: 1rem;
  transition: 1s;
  background-color: rgb(255, 255, 255);
  border-radius: 0.4rem;
  color: rgb(135, 44, 221);
}

.navbar a {
  text-decoration: none;
  border: none;
}
