
.sub-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.sub-container h3 {
  font-size: 2.2rem !important;
  margin: 20px 0;
}

.sub-container h2 {
  margin: 20px 0;
}

.sub-container h4 {
  font-size: 2rem;
  margin: 20px 0;
}

.sub-container p {
  font-size: 1.2rem;
  margin: 20px 0;
  text-align: center;
}


